<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<div class="mt-4" style="text-align: center;">
    <img src="../assets/images/home.jpg" style="width: 70%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); ">
</div>


<footer>
    <h6>Thank you</h6>
    <p> <b>© Copyright Impact. All Rights Reserved </b>
        | Designed by Aml Sabry ITI</p>
</footer>
]