<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<div class="container">
    <div class="col-sm-10 col-md-10 mt-5">
        <h3>Website for Natural Skin-care Products</h3>
        <p>According to the authors of the above review, plant extracts may be a safe and cost-effective
            alternative to synthetics. There are plenty of reasons to use natural skin care instead of
            traditional products
            Here’s a quick look at how these may benefit different of skin types .</p>
        <div class="row mt-3">
            <div class="col-sm-4">
                <img src="https://img.freepik.com/free-photo/portrait-young-woman-being-confident-with-acne_23-2148982610.jpg?w=360&t=st=1690521403~exp=1690522003~hmac=18e385f14045b8ac952fe97a1eb85bd4e8c33b083626b395ad8a3ab459214b44"
                    alt="Image 1" class="img-fluid">
            </div>
            <div class="col-sm-4">
                <img src="https://img.freepik.com/free-photo/beauty-treatments-portrait_23-2149163402.jpg?w=360&t=st=1690521549~exp=1690522149~hmac=a0ec51852c464f9c4550da57b789b0512be419f6e2621e302277876104a18f34"
                    alt="Image 2" class="img-fluid">
            </div>
            <div class="col-sm-4">
                <img src="https://img.freepik.com/free-photo/portrait-mysterious-woman-holding-flower_23-2148749867.jpg?w=360&t=st=1690521479~exp=1690522079~hmac=abb823248ff2f07b2899f54a4c8fcd2d9adcb68afa417b65359adf68c5ad0537"
                    alt="Image 2" class="img-fluid">
            </div>
            <ul class="m-3" style="background-color: rgba(215, 222, 231, 0.694); padding: 40px; list-style: none;">
                <li>
                    <h3>For oily skin</h3>
                    <p>A natural skin care routine for oily skin may help reduce oiliness without the use of
                        expensive
                        skin care regimens or prescription drugs.

                        There are several methods of using natural skin care and home remedies for oily
                        skin.</p>
                </li>
                <li>
                    <h3>For dry skin</h3>
                    <p>There isn’t much that’s more frustrating than itchy skin caused by dryness.

                        A natural skin care routine for dry skin may help reduce the effects of heat, hot
                        showers,
                        arid
                        climates, and harsh soaps — all things that can trigger dry skin.</p>
                </li>
                <li>
                    <h3>For sensitive skin</h3>
                    <p>A natural skin care routine for sensitive skin may help rebuild a healthy skin
                        barrier by avoiding products with irritating ingredients.

                        A 2018 study examined the risk of skin sensitivity associated with products
                        containing fragrances. Products that you wear for a long period, like moisturizers,
                        can be more likely to cause skin issues. </p>
                </li>
            </ul>
            <div class="col-sm-10 col-md-10 mt-3 mb-5">
                <h1>Terms to know</h1>
                <p>According to the authors of the above review, plant extracts may be a safe and
                    cost-effective
                    alternative to synthetics. There are plenty of reasons to use natural skin care instead
                    of alternative to synthetics.
                <h4>What is the product derived from?</h4>
                This is the first question to ask yourself.
                In other words, what’s in it, and where does it come from? Is it a natural source, like
                plants, animals, minerals, and marine sources? Or is it derived from petrochemicals?
                <h4>How is it processed?</h4>
                <p>
                    Just because ingredients are derived naturally doesn’t mean they’re processed naturally.

                    Ingredients can be processed physically or chemically.
                </p>
            </div>
        </div>
    </div>
</div>