<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div style="text-align: center;">
    <input class="search" type="text" [(ngModel)]="SearchName" placeholder="  Search for product by name or price here">
    <button (click)="Search(SearchName)" class="icon"><i class="fa fa-search"></i></button>
    <button (click)="Reset()">Reset</button>
</div>
<div class="container">
    <h2>Available Products
    </h2>
    <div class="row">
        <div class="col-sm-4 mb-5 " *ngFor="let product of FilterdProducts ">
            <div class="card">
                <img [src]="product.imgSrc">
                <h5 class="name">{{product.name}}</h5>
                <p>{{product.description}}</p>
                <h3 class="price">price : {{product.price}}</h3>
                <h6 [ngClass]="product.quantity<=5 && product.quantity>0 ?'redMes' : 'noMes' ">Only {{product.quantity}}
                    Left in
                    Stock !</h6>
                <h6 [ngClass]="product.quantity==0 ?'redMes' : 'noMes' ">Out Of Stock </h6>
                <button (click)="AddMyCart(product)">Add To Cart</button>
            </div>
        </div>
    </div>
</div>





<!-- <h2>Your Shopping Cart </h2>
    <div class="row">
        <div class="col-sm-4 mb-5 " *ngFor="let product of mycart ">
            <div class="card">
                <img [src]="product.imgSrc">
                <h5 class="name">{{product.name}}</h5>
                <p>{{product.description}}</p>
                <h3 class="price">price : {{product.price}}</h3>
                <h6 [ngClass]="product.quantity<=5 && product.quantity>0 ?'redMes' : 'noMes' ">Only {{product.quantity}}
                    Left in
                    Stock !</h6>
                <h6 [ngClass]="product.quantity==0 ?'redMes' : 'noMes' ">Out Of Stock </h6>
                <button (click)="DeleteProduct(product)" class="delete"
                    style="width: 140px; background-color: rgb(165, 48, 48);"> Delete Product</button>
            </div>
        </div>
    </div> -->



<div class="container">
    <h4> Add New Product Here!</h4>
    <div class="row">
        <div class="col-sm-12 mb-5">
            <form [formGroup]="AddProductForm" id="form">
                <div class="form-group">
                    <input type="text" placeholder="  Product name" formControlName="name" name="name">
                </div>
                <div class="form-group">
                    <input type="url" placeholder="  image source" formControlName="imgSrc" name="imgsrc">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="  Product price" formControlName="price" name="price">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="  Product description" formControlName="description" name="desc">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="  Product quantity" formControlName="quantity" name="quantity">
                </div>

                <button (click)="submit()" style="width: 120px;"> Add Product </button>
            </form>
        </div>
    </div>
</div>