<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <form class="logform" method="get">
        <p class="p1"> Join Us Now For Free!</p>
        <p class="p2"> Join using Social Networks</p>
        <a href="https://www.facebook.com/login/" class="fa fa-facebook"></a>
        <a href="https://accounts.google.com/" class="fa fa-google"></a>
        <a href="https://www.linkedin.com/" class="fa fa-linkedin"></a>
        <br>
        <input type="text" placeholder="   Email or phone "> <br>
        <input type="text" placeholder="   Your age"> <br>
        <input type="text" placeholder="   Favourite Product "> <br>
        <input type="message" placeholder="   Feedback here! "> <br>
        <button type="submit" (click)="sub()" value="Submit">Apply</button>
        <a class="p3">Read more about our privacy policy</a>
    </form>
    <footer id="footer">
        <h5> What Is a Privacy Policy? </h5>
        <h6>Legal document on a website that
            explains how the website’s organizers gather, store, protect, and use any personal
            data</h6>

    </footer>
</body>