<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<div>
    <nav class="navbar navbar-expand-lg mynav">
        <div class="collapse navbar-collapse col-3  justify-content-center" id="navbarNav">
            <img src="../assets/images/logo11.jpg" alt="logo" class="logo">
        </div>
        <div class="collapse navbar-collapse col-9  justify-content-start" id="navbarNav">
            <ul class="navbar-nav col-12 justify-content-start">
                <li class="nav-item active">
                    <a routerLink="/home">HOME </a>
                </li>
                <li>
                    <a routerLink="/products">PRODUCTS</a>
                </li>
                <li>
                    <a routerLink="/bestseller">BEST-SELLER</a>
                </li>
                <li>
                    <a routerLink="/contactus"> ABOUT US</a>
                </li>
                <li>
                    <a routerLink="/aboutus">JOIN-US</a>
                </li>
                <li>
                    <a routerLink="/AddMyCart">MY CART</a>
                </li>
                <li>
                    <a href="#form">ADMIN</a>
                </li>
               
            </ul>
        </div>
    </nav>
</div>
<div style="text-align: center;" class="mb-4">
    <h1>ROSE` COSMETICS</h1>
    <h5>Source of Beauty Wellbeing And Natural Products In Egypt </h5>
</div>